.cardSection {
  padding: 40px 20px;
  text-align: center;
}
.cardSection {
  margin-bottom: 30px;
}

.textContainer {
  margin-bottom: 30px;
}

.smallHeading {
  font-size: 16px;
  color: #777;
}

.bigHeading {
  font-size: 36px;
  color: #333;
  margin: 10px 0;
}

.mediumText {
  font-size: 18px;
  color: #555;
  margin: 10px 0 20px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  height: 400px;
}

.card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 10px;
  border-radius: 8px;
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  overflow: visible;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardTitle {
  font-size: 20px;
  margin: 0;
}

.cardDescription {
  font-size: 14px;
  margin: 15px 0;
}

.cardButton {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6c1b81;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
  min-width: 200px;
}

.cardButton:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 100%;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .card {
    min-height: 300px !important;
    margin-bottom: 3rem !important;
    min-width: 280px;
    min-height: 350px;
  }
  .cardContainer::-webkit-scrollbar {
    height: 8px;
  }

  .cardContainer::-webkit-scrollbar-thumb {
    background-color: #6c1b81;
    border-radius: 10px;
  }

  .cardContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .cardSection {
    padding: 20px 10px;
    overflow: hidden;
  }
  .bigHeading {
    font-size: 24px;
  }
  .card {
    margin-bottom: 30px;
  }
}
